@(message: String)

@Main("Home") {
   <div class="container">
     <h1>Current Contacts</h1>
     <table class="table table-stripped table-bordered">
     <tr><th>First</th><th>Last</th><th>Phone</th></tr>
     
     <tr><td>Joe</td><td>Smith</td><td><a href="tel:+18081234567">808-123-4567</a></td></tr>
     <tr><td>Amanda</td><td>Smith</td><td><a href="tel:+18081234568">808-123-4568</a></td></tr>
     <tr><td>Jane</td><td>Smith</td><td><a href="tel:+18081234569">808-123-4569</a></td></tr>
     
     </table>
   </div>
}
