@(page: String, isLoggedIn: Boolean, userInfo: UserInfo, contacts: List[Contact])

@Main(page, isLoggedIn, userInfo) {
   <div class="container">
   @if(isLoggedIn) {
     <h1>Current Contacts</h1>
     <table class="table table-stripped table-bordered">
     <tr><th>First</th><th>Last</th><th>Phone</th><th>Type</th></tr>

     @for(contact <- contacts) {
        <tr>
        <td>@contact.getFirstName()</td>
        <td>@contact.getLastName()</td>
        <td>@contact.getTelephone()</td>
        <td>@contact.getTelephoneType()</td>
        <td><a href = "@routes.Application.newContact(contact.getId())">Edit</a></td>
        </tr>
     }

     </table>
     }
   </div>
}
